.pagination {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.page-item {
  margin-right: 0.5rem;
}

.page-link {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
  outline: none;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #02152a;
}

.page-link:focus {
  background-color: #04203e;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item.disabled .page-link {
  color: #999;
  pointer-events: none;
}

.page-item.active .page-link {
  background-color: #161617;
  color: #fff;
  border-color: #ff00a6;
}
