.blur-background {
    filter: blur(5px); /* Adjust the blur intensity as needed */
  }

  
  .items-cont.blur-background {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Prevent interaction with the blurred background */
    opacity: 0.8; /* Adjust the opacity of the blurred background */
    transition: opacity 0.3s ease; /* Add a transition effect */
  }
  
  /* Style the modal to appear on top of the blurred background */
  .items-cont .modal {
    z-index: 999; /* Adjust the z-index to make the modal appear on top */
  }
  